body, html {
  font-family: Arial, sans-serif;
  background-color: #D3A079;
  width:100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  color: white;
}

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

.content {
  margin: 30px auto;
  text-align: center;
  display: block;
}

.animate {
  opacity: 0;
  transition: all 0.5s ease;
  will-change: transform, opacity;
  width: 600px;
  margin: 0 auto;
}



.fade-left {
  transform: translateX(-100%);
}

.fade-right {
  transform: translateX(100%);
}

.fade-up {
  transform: translateY(100%);
}

.fade-down {
  transform: translateY(-100%);
}

.animate.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

section {
    height: fit-content;
    min-height: 50vh;
    display: block;

}

section-container {
    height: fit-content;
    min-height: 50vh;
    display: block;
}


header {
    background: linear-gradient(135deg, #1E88E5, #64B5F6); /* Blau */
    background:url("img/exotic-spa.jpg");
    background-size: cover;
    color: white;
    padding: 0;
    text-align: center;
    height: 900px;
}


header .logo {
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    -ms-flex-item-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    display: inline-flex;
    align-items: center !important;
    flex-direction: row;
    width: 100%;
    background-color: #64b4f677;


}

nav ul li {
    display: inline-flex;
    margin: 5px auto;
    -ms-flex-item-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    align-items: center !important;
    width: 100%;


 
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 5px auto;
    -ms-flex-item-align: center;
    align-items: center !important;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    display: inline-flex;

}


footer {
    background: #f1f1f1;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    color: black;
}

footer p {
  margin: 0 auto;
  padding: 20px;
}


.section-container img {
    width: 60%;
    height: auto;
    margin: 10px auto;
    border-radius: 5px;
}


.map-container {
    width: 100%;
    height: fit-content; /* Adjust height as needed */
    padding:20px;
    margin: 20px auto;
}

h1, h2, h3, p, span, a {
  margin: 20px auto;
  padding: 20px;
  letter-spacing: 3px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
 h1, h2 { 
   color: black;
 }

 iframe {
  width: 100% !important;
  margin: 0 auto;
  height: 800px;
 }  

.flex-header {

  display: inline-flex !important;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
   -ms-flex-item-align: start;
  align-items: flex-start;
  justify-content: left;
  justify-items: left;
  align-content: flex-start;
  left: 0;

}

.logo {
  width: 5%;
  height: 5%;
  margin: 10px; 
  min-width: 50px;
  -ms-flex-item-align: start;
  align-items: flex-start;
  justify-content: left;
  justify-items: left;
  align-content: flex-start;
}

.logo2 {
  margin: 20px auto;
  margin-top: 40px;
  -ms-flex-item-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  text-align: center;
  min-width: 50px;

}

.h1-header {
  
  margin: 0 auto;
 -ms-flex-item-align: start;
  align-items: flex-start;
  justify-content: left;
  justify-items: left;
  align-content: flex-start;
  font-size: 30px;
  text-align: left;
  font-weight: 100;
  left:0;
  padding: 2px;


}


.h2-header {
 
  margin: 0 auto;
 -ms-flex-item-align: start;
  align-items: flex-start;
  justify-content: left;
  justify-items: left;
  align-content: flex-start;
  font-size: 15px;
  text-align: left;
  font-weight: 100;
  left:0;
  padding: 2px;
  

}

.block-header {
  display: block;
  margin: 10px; 
  padding: 0;
  height: 40px;
   -ms-flex-item-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  text-align: center;


}